{{>header}}
<div class="img-wrap float-left mr-3">
    <img class="img-fluid" src="/img/about.jpg" alt="">
</div>
<p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus numquam consequuntur explicabo, culpa adipisci, eaque amet quidem
    expedita doloribus aliquam maiores minima dolor blanditiis sapiente cupiditate quod ducimus ipsa deserunt reiciendis? Dolorem recusandae rerum saepe quaerat
    laborum sit? Possimus similique maxime nam nihil minus error odit alias, optio atque doloribus?</p>

{{>footer}}