{{>header}}

<form>
    <div class="form-group">
        <label for="location">Get your weather forecast</label>
        <input type="text" class="form-control" id="location" placeholder="Enter your address">
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
<p id="place" class="my-3"></p>
<p id="forecast"></p>

{{>footer}}