body,
html,
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3a3b3b;
    min-height: 90vh;
}

.img-wrap {
    width: 250px;
}

footer {
    color: #333c3c;
    border-top: 2px solid #b0e9ff;
    padding: 25px;
}